/* ---------- BASE RESET ---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    font-family: var(--ff-base);
    background-color: var(--color-background);
    color: var(--color-text-primary);
    scroll-behavior: smooth;
}

img,
video {
    max-width: 100%;
    display: flex;
}

/* Section divider bar */
.section-divider {
    border: none;
    height: 1px;
    background-color: #444;
    margin: 2rem 0;
}

/* Utility */
.hidden {
    display: none;
}

.download-button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: var(--color-accent);
    color: var(--color-background);
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.download-button:hover {
    background-color: var(--color-text-secondary);
    color: var(--color-text-primary);
    transform: translateY(-2px);
}